@import "tailwindcss";

:root {
  --background: #f8fafc;
  --main-color: rgb(233, 170, 11);
  --secondary-color: green;
  --text-color: #333 !important;
  --secondary-dark: #777;
  --border-main: 1px solid #333;
  --form-background: silver;
  --heading-color: green !important;
  --intro-shadow: 0 0 5px 1px #bbb;
  --accordion-background: wheat !important;
}
.dark-mode {
  --background: #0f172a !important;
  --text-color: #f3f4f6 !important;
  --border-main: 1px solid #cbd5e1 !important;
  --form-background: #524e4eb2;
  --heading-color: #cbd5e1 !important;
  --secondary-color: #333333 !important;
  --intro-shadow: 0 0 5px 1px #000000 !important;
  --accordion-background: #333 !important;
}

body {
  background: var(--background);
  /* background-image:url(./assets/transparent2.png) ;
  background-size: cover; */
  font-family: var(--font-cairo), Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.fix-height {
  height: calc(100vh - 110px);
}
/* .dark-mode {
  background-color: #0a0a0a;
  color: #fff !important;
} */

@media (max-width: 1080) {
  .container {
    width: 93%;
  }
}
