.ceo {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.info {
  width: 50%;
}
.info h1 {
  font-size: 35px;
  color: var(--heading-color);
  font-weight: bold;
  margin-bottom: 30px;
}
.info p {
  font-size: 25px;
  line-height: 2;
  text-align: justify;
  color: var(--text-color);
}
.info h2 {
  font-size: 30px;
  color: var(--heading-color);
  margin-top: 18px;
}
.picture {
  width: 45%;
}
.picture .image {
  border-radius: 20px;
}

@media (max-width: 1080px) {
  .ceo {
    flex-direction: column;
    margin-top: 100px;
  }
  .info {
    width: 100%;
    order: 1;
  }
  .info h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .info p {
    font-size: 16px;
    line-height: 2;
  }
  .info h2 {
    font-size: 16px;
    margin-top: 18px;
  }
  .picture {
    width: 100%;
    order: 0;
    margin-bottom: 30px;
  }
  .picture .image {
    width: 100%;
  }
}
